<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Employee</title>
</head>

<body>

<div class="container">

    <h3>Summary</h3>
    <hr>
    <p th:text="'Total income:'+${totalincome}"/>
    <p th:text="'Total expense:'+${totalexpense}"/>
    <p th:text="'Total taxbeforerebate:'+${taxbeforerebate}"/>
    <p th:text="'Total totalrebate:'+${totalrebate}"/>
    <p th:text="'Total finaltaxamount:'+${finaltaxamount}"/>
<p></p>

</div>
</body>

</html>










