<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/demo.css} ">
</head>
<body>
<p th:text="'time on the server is'+${theDate}" class="funny"/>
</body>
</html>